body h1{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 2.0em;

}

div{
    margin: auto;
    padding: 10px 10px;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
    ;
}
footer{
    min-block-size: 20%;
    min-width: 50%;
}

footer h1{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}